.layout-geral {
  width: 100%;
  max-width: 900px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 20px;
}


.cabecalho-app {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    padding: 0 10px;
}


.mesa-blackjack {
    position: relative; 
    
    background: darkgreen;
    background-image: radial-gradient(circle, #108a4c 5%, #0a6135 70%);
    
    padding: 30px; 
    
    border-radius: 15px;
    color: white;
    text-align: center;
    border: 15px solid #8B4513;
    box-shadow: 0 15px 40px rgba(0, 0, 0, 0.6);
}


.info-jogo h2 {
  margin: 0 0 25px 0;
  font-size: 2rem;
  color: #fff;
  text-shadow: 0px 2px 4px rgba(0,0,0,0.8);
  font-weight: 800;
}

.pontuacao {
    font-size: 1.2rem;
    font-weight: bold;
    color: #fff;
    background-color: rgba(0,0,0,0.5);
    display: inline-block;
    padding: 4px 15px;
    border-radius: 20px;
    margin-top: 8px;
    border: 1px solid #ffd700;
}

.area-dealer, .area-jogador {
    margin-bottom: 30px;
}

.contador-maos {
    background-color: rgba(255, 255, 255, 0.8);
    color: #333;
    padding: 5px 15px;
    border-radius: 20px;
    font-weight: bold;
    margin: 10px auto;
    display: inline-block;
}
